
{{ define "page" }}

    <section id="video-container">
        <iframe width="900" height="500" style="border:0px solid;" src="https://www.youtube.com/embed/KJcd9IckJj8"></iframe>
    </section>

    <section>
        <h2 class="lined">Features</h2>
        <div id="features">
            <div class="features-section">
                <div>
                    <div class="plus-bullet">+</div>
                    <p>Run and create command line, TUI, and web apps in the environment</p>
                </div>
                <div>
                    <div class="plus-bullet">+</div>
                    <p>Go compiler that runs in-browser, can cross-compile to native platforms</p>
                </div>
                <div>
                    <div class="plus-bullet">+</div>
                    <p>Pluggable filesystem API for custom filesystem behavior like FUSE/Plan9</p>
                </div>
                <div>
                    <div class="plus-bullet">+</div>
                    <p>Unix-like shell that can be live-edited/recompiled or replaced entirely</p>
                </div>
            </div>
            <div class="features-section">
                <div>
                    <div class="plus-bullet">+</div>
                    <p>Built-in micro editor, similar to nano</p>
                </div>
                <div>
                    <div class="plus-bullet">+</div>
                    <p>Supports TypeScript and JSX in web applications without extra tooling</p>
                </div>
                <div>
                    <div class="plus-bullet">+</div>
                    <p>Bootstraps entire system with a single JS file and include</p>
                </div>
                <div>
                    <div class="plus-bullet" style="visibility: hidden">+</div>
                    <p>...and more</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <h2 class="lined">Quick Start</h2>
        
        <p>Install <a href="https://go.dev/doc/install">Go</a> on your system. Then run:</p>
            <pre>make dev</pre>

        <p>You now have a dev server to access a Wanix environment on localhost in your browser.</p>

        <h3>See available commands</h3>
        <pre>help</pre>

        <h3>Work with the filesystem</h3>
        <p>Use common Unix commands (`cd`, `ls`, `pwd`, ...) to navigate around the filesystem. The root filesystem is <code>[indexedfs](internal/indexedfs)</code>, 
            which stores files in IndexedDB. However, by implementing the <a href="https://github.com/tractordev/toolkit-go/tree/main/engine/fs">filesystem API</a>
            you can create new filesystems to mount. For example, `/sys/dev` is mounted when run with the dev server using [httpfs](internal/httpfs) to 
            expose the project repository from the host. 
        </p>

        <h3>Create a shell script command</h3>
        <p>You can create commands by putting them in the `/cmd` directory. Commands can be shell scripts, wasm binaries, or buildable source directories.
        Shell scripts ending in `.sh` can contain commands that would run on the shell. For example, you can use `micro` to create a script to `echo` "Hello world":
        <pre>micro /cmd/hello.sh</pre>
        <p>Add this line to the newly created file in micro:</p>
        <pre>echo Hello world</pre>
        <p>Use `ctrl-s` to save and `ctrl-q` to quit. Now you can run `hello` in the shell.</p>

        <h3>Next steps</h3>
        Continue the tutorial and see what else you can do in our <a href="/docs">documentation</a>.
    </section>

    <section id="newsletter">
        <h2 class="lined">Stay in touch</h2>
        <p>Sign up for our mailing list to receive updates on the project.</p>
        <input type="email" />
        <button>Subscribe</button>
        <p class="small-text">We don't share your email.</p>
    </section>




{{ end }}